/Debug
/Release
*.cache
*.sdf
/btest/Debug
/btest/Release
/ipch/base-873a1a56/*.ipch
/lib/*.lib
/!deploy1.bat
/!diff.bat
/!dir.bat
/!sync.bat
/!undo.bat
/!update.bat
/_FOSSIL_
*.suo
/base.vcproj
/base.vcproj.Krzysiek-HP.Krzysiek.user
/base_2008.sln
/base_2008.vcproj
/btest/btest.vcproj
/btest/btest.vcproj.Krzysiek-HP.Krzysiek.user
/btest/btest_2008.vcproj
*.opensdf
